body, html{margin: 0px;padding: 0px;font-family: 'Lexend Exa', sans-serif;font-size:14px;color:#0c0c0c;}
* {margin: 0;padding: 0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; outline:none;}
aside, details, figcaption, figure, ins, summary, mark, title, video, footer, header, hgroup, nav, section, article{display: block;}
.clear {padding: 0;margin: 0;line-height: 0;height: 0;font-size: 0;clear: both;width: 100%;display: block;}
h1, h2, h3, h4, h5, h6 {padding: 0;margin: 0;font-weight: normal;font-family: 'Libre Baskerville', serif;}
html, body {padding: 0;margin: 0;height:100%;}
body * {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
ul, ul li {list-style: none;padding: 0;margin: 0;}
input, button {outline: none;border: none;}
a, a:hover, a:focus {text-decoration: none;outline: none;transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;}
a:active, a:hover {outline: 0;}
button {transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;outline:none;border:none;}
:focus {outline: none;border:none;}
img {border: none;}
p{margin:0;padding:0;line-height:22px;}
figure{margin:0;}

/* ===================== Placeholder ==================*/
input::-webkit-input-placeholder {opacity:1;}
input::-moz-placeholder {opacity:1;}
input:-ms-input-placeholder {opacity:1;}
input:-moz-placeholder {opacity:1;}

/* ===================== header ==================*/
.textBlock{background:#2988E0;text-align:center;color:#fff;position:relative;padding:10px;border-radius:0;border:none;margin:0;}
.textBlock button.close{background:#2374BF;color:#fff;position:absolute;right:0;top:0;opacity:1;padding:9px 10px;text-shadow:none;border:none;}
.textBlock button.close:hover,.textBlock button.close:focus{background:#115391;color:#fff !important;opacity:1;}
header{background:#F7F7F7;transition:background 10s ease;-webkit-transition:background 10s ease;-moz-transition:background 10s ease;}
.headerMain{padding:35px 0;}
.logoBar{float:right;}
.loginBox{display:flex;border:1px solid #FF2A05;text-align:center;width:300px;float:right;}
a.signUp{display:block;padding:20px;color:#ff2a05;letter-spacing:2px;font-weight:600;font-size:20px;float:left;font-family: 'Roboto Mono', monospace;}
a.signUp span{display:block;}
.login{float:left;border-left:1px solid #FF2A05;width:100%;}
.loginBox h3{color:#FF2A05;text-transform:uppercase;font-size:14px;font-weight:500;letter-spacing:1px;padding:7px 0;border-bottom:1px solid #FF2A05;font-family: 'Roboto Mono', monospace;}
.loginBox h3 a{color:#FF2A05;}
.ulLinks li{display:inline-block;vertical-align:middle;margin:0 5px;}
.ulLinks li a{color:#FF2A05;font-size:17px;}
.ulLinks{float:left;border-bottom:1px solid #FF2A05;padding:2px 0;width:100%;}
.searchField{display:inline-block;padding:7px 0;}
.searchField button{background:none;transform:rotate(90deg);color:#FF2A05;}
.searchField input{width:80px;background:no-repeat;color:#FF2A05;letter-spacing:1px;font-weight:500;padding:0 5px;font-family: 'Roboto Mono', monospace;}

/* ===================== Banner ==================*/
.topBanner{clear:both;padding:30px 0 60px;background:#F7F7F7;}
.topBanner h1{color:#0052e6;font-size:48px;line-height:64px;}
.topBanner p{color:#000;letter-spacing:1px;margin-top:20px;}
.topBanner a{background:#fff;color:#0052E6;padding:10px 20px;font-size:16px;font-weight:500;box-shadow:3px 3px 3px rgba(254,137,90,0.5);display:inline-block;margin-top:30px;font-family: 'Roboto Mono', monospace;-webkit-box-shadow:3px 3px 3px rgba(254,137,90,0.5);-moz-box-shadow:3px 3px 3px rgba(254,137,90,0.5);}
.topBanner a + a{margin-left:20px;}
.topBanner a:hover{background:#0052E6;color:#fff;}

/* ===================== Info Panel ==================*/
.infoPanel{padding:50px 0;clear:both;}
.infoPanel h2{font-size:50px;color:#0068e8;margin-bottom:20px;}
.infoPanel p{font-size:16px;line-height: 28px;color:#373737;}
.infoPanel .owl-theme .owl-nav [class*="owl-"]{width:32px;height:73px;margin:0;border-radius:0;}
.infoPanel .owl-theme .owl-nav [class*="owl-"] span{display:none;}
.infoPanel .owl-carousel .owl-nav .owl-next{background:url(../images/arrow-right.png) center center no-repeat;position:absolute;right:-40px;top:40%;}
.infoPanel .owl-carousel .owl-nav .owl-prev{background:url(../images/arrow-left.png) center center no-repeat;position:absolute;left:-40px;top:40%;}

/* ===================== how It Works ==================*/
.howItWorks{background:#9BC4F1;padding:50px 0;clear:both;float: left;width:100%;}
.howItWorks h2{font-size:50px;color:#fff;margin-bottom:20px;}
.howItWorks li{width:50%;float:left;padding:0 15px;margin-bottom:70px;}
.howItWorks li span{color:#fff;font-size:50px;font-family: 'Libre Baskerville', serif;}
.howItWorks li:nth-child(2n+1){padding-right:30px;}
.howItWorks li:nth-child(2n){padding-left:30px;}
.howItWorks h3{font-size:16px;margin:10px 0;font-family: 'Lexend Exa', sans-serif;line-height:22px;}
.howItWorks li:last-child,.howItWorks li:nth-last-child(2){margin-bottom:0;}
.howItWorks .link2{background:#fff;color:#0052E6;padding:10px 20px;font-size:16px;font-weight:500;box-shadow:3px 3px 3px rgba(254,137,90,0.5);display:inline-block;margin-top:30px;font-family: 'Roboto Mono', monospace;-webkit-box-shadow:3px 3px 3px rgba(254,137,90,0.5);-moz-box-shadow:3px 3px 3px rgba(254,137,90,0.5);float:right;min-width:150px;text-align:center;}
.howItWorks .link2:hover{background:#0052E6;color:#fff;}
.howItWorks p{font-size:12px;color:#373737;line-height:16px;}

/* ===================== Recent Postcards ==================*/
.recentList{clear:both;padding:50px 0;}
.recentList h2{margin-bottom:30px;color:#0052e6;font-size:24px;text-transform:uppercase;position:relative;}
.recentList h2:before{width:10px;height:2px;content:"";display:inline-block;vertical-align:super;background:#0052e6;margin-right:15px;}
.recentList h2:after{width:10px;height:2px;content:"";display:inline-block;vertical-align:super;background:#0052e6;margin-left:15px;}
.recentList h3{margin:15px 0;font-size:16px;font-family: 'Lexend Exa', sans-serif;}
.recentList h3 a{color:#000;}
.recentList h3 a:hover{color:#0052e6;}
.recentList p{color:#404040;font-size:13px;}
.recentList .item span{color:#0052e6;font-size:15px;margin-top:10px;display:block;font-family: 'Libre Baskerville', serif;display:inline-block;}
.recentList .item span + span:before{content:"|";color:#0052e6;padding:0 15px;}
.recentList .item span a{color:rgba(0,82,230,0.7);}
.recentList .item span a:hover{color:#000;}
.recentList .owl-theme .owl-nav [class*="owl-"]{margin:0;border-radius:0;width:36px;height:81px;}
.recentList .owl-theme .owl-nav [class*="owl-"] span{display:none;}
.recentList .owl-carousel .owl-nav .owl-next{background:url(../images/arrow-right1.png) center center no-repeat;position:absolute;right:-70px;top:40%;}
.recentList .owl-carousel .owl-nav .owl-prev{background:url(../images/arrow-left1.png) center center no-repeat;position:absolute;left:-70px;top:40%;}


/* ===================== dragabox ==================*/
.dragabox{background:#fad65d;padding:30px 20px;overflow:hidden;position:fixed;bottom:0;right:0;z-index:12;text-align:center;width:300px;height:230px;cursor:move;}
.dragabox h3{font-size:24px;font-family: 'Libre Baskerville', serif;color:#2b2328;margin-bottom:20px;}
.dragabox a{font-family: 'Roboto Mono', monospace;float:right;color:#2b2328;font-weight:500;font-size:28px;}
.dragabox a:hover{background:#ffeca8;padding:5px 10px;}
.dragabox a img{margin-left:20px;}
/* ===================== Footer ==================*/
footer{clear:both;padding:30px 0;background:#EFEFEF;text-align:center;}
footer li{display:inline-block;vertical-align:top;position: relative;font-size:16px;}
footer li a{color:#000;font-family: 'Roboto Mono', monospace;}
footer li + li:before{content:"|";color:#000;padding:0 25px;}
footer li a:hover{color:#0052E6;}
footer p{color:#000;padding-top:20px;font-weight:500;letter-spacing:0.5px;font-size:13px;}
footer p a{color:#0052E6;text-decoration:underline;font-weight:400;}

/*---------------Menu ----------------*/
.siteMenus {position: relative;z-index:11; line-height: normal;}
.siteMenus ul { margin: 0; padding: 0;}
.siteMenus li { list-style: none; display: block; margin: 0; padding: 0; position: relative; line-height: normal; vertical-align: middle; }
.siteMenus li a { padding:0;display:block;color:#0052e6;-webkit-transition:all .2s ease-out;-moz-transition: all .2s ease-out;transition: all .2s ease-out;font-weight:700;font-size:18px;font-family: 'Roboto Mono', monospace;}
.siteMenus li + li{margin-left:40px;}
.siteMenus li a.active{color:#ff2a05;}
.siteMenus li { display: inline-block;}
.siteMenus ul ul { top: auto; width: 220px; position: absolute; z-index: 9900; text-align: left; display: none; }
.siteMenus li li { display: block; }
.siteMenus ul ul li a{font-weight:300;font-size:16px;padding:2px 0;}
.siteMenus ul ul li a:hover{color:#000;}
.siteMenus ul ul ul { top: 0; left: 220px; }
.siteMenus li ul li + li{margin-left:0px;}
.siteMenus ul li:hover > ul > li:hover > ul { opacity: 1; visibility: visible; top: 0; }
.siteMenus  ul li.drop-left > ul { right: 0; }
.siteMenus li.drop-left ul ul { left: auto; right: 220px; }
.siteMenus li.drop-left li.has-sub > a:after { float: left; margin-right: 10px; border-left: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-right: 6px solid #FFF; }
.siteMenus.hide-arrows li.has-sub > a:after, .siteMenus.hide-arrows li li.has-sub > a:after, .siteMenus.hide-arrows li.drop-left li.has-sub > a:after { display: none; }
.siteMenus .menu-toggle, .siteMenus .close-menu, .siteMenus .call-btn-mobile, .siteMenus .location-btn-mobile { display: none; text-transform: uppercase; text-decoration: none; }
.siteMenus .dd-toggle { display: none; position: absolute; top: 0; right: 0; padding: 0; width: 48px; height: 48px; text-align: center; z-index: 9999; border: 0; }
.siteMenus.desktop.hide-arrows li.has-sub a { padding-right: 15px; }
.siteMenus.mobile > ul > li > a.dd-toggle { padding: 0; }
.siteMenus li.call-btn-mobile, .siteMenus li.location-btn-mobile { display: none; }
.siteMenus a.dd-toggle .icon-plus { box-sizing: border-box; transition: transform 0.3s; width: 12px; height: 100%; position: relative; vertical-align: middle; display: inline-block; }
.siteMenus a.dd-toggle .icon-plus:before { content: ''; display: block; width: 12px; height: 0px; border-bottom: solid 3px #fff; position: absolute; top: 50%; transform: rotate(90deg); transition: width 0.3s; }
.siteMenus a.dd-toggle .icon-plus:after { content: ''; display: block; width: 12px; height: 0px; top: 50%; border-bottom: solid 3px #fff; position: absolute; }
.siteMenus li.open > a.dd-toggle .icon-plus { -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }
.siteMenus.light a.dd-toggle .icon-plus:before { border-color: #000; }
.siteMenus.light a.dd-toggle .icon-plus:after { border-color: #000; }
.siteMenus.dark a.dd-toggle .icon-plus:before { border-color: #FFF; }
.siteMenus.dark a.dd-toggle .icon-plus:after { border-color: #FFF; }
.siteMenus .icon-close { box-sizing: border-box; width: 12px; height: 12px; position: relative; display: inline-block; }
.siteMenus .icon-close:before { content: ''; display: block; width: 12px; height: 0px; border-bottom: solid 3px #fff; position: absolute; top: 50%; transform: rotate(45deg); }
.siteMenus .icon-close:after { content: ''; display: block; width: 12px; height: 0px; top: 50%; border-bottom: solid 3px #fff; position: absolute; transform: rotate(-45deg); }
/* mobile nav */
.siteMenus .menu-toggle, .siteMenus .call-btn-mobile, .siteMenus .location-btn-mobile, .siteMenus .close-menu { padding: 15px; box-sizing: border-box; }
.siteMenus .menu-toggle span.bars { display: inline-block;position: relative; top: 3px; }
.siteMenus .menu-toggle span.bars span { display: block; width:25px; height:3px;background:#2988E0; margin: 0 0 3px; }
.siteMenus .full { width: 100%; }
.siteMenus .half { width: 50%; }
.siteMenus .third { width: 33%; text-align: center; }
.siteMenus .location-btn-mobile.third { text-align: center; }
.siteMenus .location-btn-mobile.half { text-align: right; }
.siteMenus.light .third, .siteMenus.light .half { border-left: 1px solid rgba(0, 0, 0, .15); }
.siteMenus.light.left .third, .siteMenus.light.left .half { border-bottom: 1px solid rgba(0, 0, 0, .15); }
.siteMenus.light.right .third, .siteMenus.light.right .half { border-bottom: 1px solid rgba(0, 0, 0, .15); }
.siteMenus.light .third:first-child, .siteMenus.light .half:first-child { border-left: 0; }
.siteMenus.dark .third, .siteMenus.dark .half { border-left: 1px solid rgba(255, 255, 255, .15); }
.siteMenus.dark.left .third, .siteMenus.dark.left .half { border-bottom: 1px solid rgba(255, 255, 255, .15); }
.siteMenus.dark.right .third, .siteMenus.dark.right .half { border-bottom: 1px solid rgba(255, 255, 255, .15); }
.siteMenus.light.left .menu-toggle, .siteMenus.light.right .menu-toggle { border-bottom: 0; }
.siteMenus.dark.left .menu-toggle, .siteMenus.dark.right .menu-toggle { border-bottom: 0; }
.siteMenus.dark .third:first-child, .siteMenus.dark .half:first-child { border-left: 0; }
.siteMenus.light .menu-toggle span.bars span { background: #000; }
.siteMenus.dark .menu-toggle span.bars span { background: #FFF; }
.siteMenus.mobile {position:absolute;right:0;top:47px;}
.siteMenus.mobile.fixed { position: static; }
.siteMenus.mobile ul { position: relative; display: none; }
.siteMenus.mobile.active { padding-bottom: 0; }
.siteMenus.mobile.active > ul { display: block; }
.siteMenus.mobile ul { text-align: left; }
.siteMenus.mobile > ul > li { display: block; }
.siteMenus.mobile > ul > li > a { padding: 15px; }
.siteMenus.mobile ul { background:#0068e8; }
.siteMenus.mobile ul ul { position: relative; opacity: 1; visibility: visible; width: auto; display: none; -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none; }
.siteMenus.mobile ul ul ul { left: auto; top: auto; }
.siteMenus.mobile li.drop-left ul ul { right: auto; }
.siteMenus.mobile li a { border-bottom: 1px solid rgba(255, 255, 255, .15); }
.siteMenus.mobile > ul { border-top: 1px solid rgba(255, 255, 255, .15); }
.siteMenus.mobile.light li a { border-bottom: 1px solid rgba(0, 0, 0, .15); }
.siteMenus.mobile.light > ul { border-top: 1px solid rgba(0, 0, 0, .15); }
.siteMenus.mobile li a.dd-toggle { border: 0; }
.siteMenus.mobile.light li a.dd-toggle { border: 0; }
.siteMenus.mobile .menu-toggle, .siteMenus.mobile .dd-toggle, .siteMenus.mobile .close-menu, .siteMenus.mobile .call-btn-mobile, .siteMenus.mobile .location-btn-mobile { display: inline-block; }
.siteMenus.mobile li.call-btn-mobile { border-right: 1px solid rgba(255, 255, 255, .1); box-sizing: border-box; }
.siteMenus.mobile li.call-btn-mobile, .siteMenus.mobile li.location-btn-mobile { display: inline-block; width: 50%; text-transform: uppercase; text-align: center; }
.siteMenus.mobile li.call-btn-mobile.full, .siteMenus.mobile li.location-btn-mobile.full { display: block; width: 100%; text-transform: uppercase; border-right: 0; text-align: left; }
.siteMenus.mobile.light ul { background: rgba(255, 255, 255, 1); }
.siteMenus.mobile.dark ul { background: rgba(0, 0, 0, 1); }
.siteMenus.mobile.dark ul ul { background: rgba(255, 255, 255, .08); }
.siteMenus.mobile.light li.call-btn-mobile { border-right: 1px solid rgba(0, 0, 0, .1); }
.siteMenus.mobile.top { position: absolute; width: 100%; top: 0; left: 0; z-index: 9999; }
.siteMenus.mobile li.has-sub > a:after, .siteMenus.mobile li li.has-sub > a:after, .siteMenus.mobile li.drop-left li.has-sub > a:after { display: none; }

/* left and right positions */
.siteMenus.mobile.right > ul, .siteMenus.mobile.left > ul { position: fixed; top: 0; bottom: 0; width: 100%; max-width: 280px; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; }
.siteMenus.mobile.right > ul { right: 0; }
.siteMenus.mobile.right .close-menu, .siteMenus.mobile.left .close-menu { display: inline-block; text-align: right;width:auto;float:right;top:0;right: 0;position: absolute;}
.siteMenus.mobile.left > ul { left: 0; }
.siteMenus.mobile.right .location-btn-mobile.half, .siteMenus.mobile.right .call-btn-mobile.half, .siteMenus.mobile.right .close-menu.half { text-align: center; }
.siteMenus.mobile.right .location-btn-mobile.third, .siteMenus.mobile.right .call-btn-mobile.third, .siteMenus.mobile.right .close-menu.third { text-align: center; }
.siteMenus.mobile.left .location-btn-mobile.half, .siteMenus.mobile.left .call-btn-mobile.half, .siteMenus.mobile.left .close-menu.half { text-align: center; }
.siteMenus.mobile.left .location-btn-mobile.third, .siteMenus.mobile.left .call-btn-mobile.third, .siteMenus.mobile.left .close-menu.third { text-align: center; }
.siteMenus.mobile.left .menu-toggle.half, .siteMenus.mobile.left .menu-toggle.third, .siteMenus.mobile.right .menu-toggle.half, .siteMenus.mobile.right .menu-toggle.third { text-align: left; }
.siteMenus.mobile.left .close-menu.third span, .siteMenus.mobile.right .close-menu.third span { display: none; }



.postCards .col-md-4:nth-child(n+4) .item{margin-top:40px;}



@media only screen and (min-width:576px) {
.siteMenus ul ul{display:block !important;top:35px;opacity:1;height:auto !important;}
}

/*---------------Media Queries ----------------*/
@media only screen and (min-width:1200px) {
.fixed-header {position: fixed; top: 0; left: 0; width: 100%; background:#F7F7F7;transition: background 10s ease;-webkit-transition:background 10s ease;-moz-transition:background 10s ease;z-index:11;}
.fixed-header .textBlock {display:none;}
.fixed-header .headerMain{display:none;}
.headerTwo{padding:30px 0;display:none;box-shadow:0 0 5px #ebebeb;}
.fixed-header .headerTwo{display:block;}
.logins li{float:left;}
.logins li + li:before{content:"|";color:#FF2A05;padding:0 10px;}
.logins li a{color:#FF2A05;font-family: 'Roboto Mono', monospace;font-size:14px;font-weight:500;text-transform:uppercase;letter-spacing:0.5px;}
.headerTwo .ulLinks{width:auto;border:none;padding:0;margin-top:-2px;margin-left:15px;}
.headerTwo .logoSite img{float:right;margin-top:-20px;}
.loginBar{float:right;margin-top:3px;}
.logins{float:left;}
	.siteMenus1 li{float:left;}
	.siteMenus1 li a { padding:0;display:block;color:#0052e6;-webkit-transition:all .2s ease-out;-moz-transition: all .2s ease-out;transition: all .2s ease-out;font-weight:700;font-size:18px;font-family: 'Roboto Mono', monospace;}
.siteMenus1 li + li{margin-left:40px;}
}

@media only screen and (max-width:1199px) {
.siteMenus li + li{margin-left:10px;}
.loginBox{width:100%;}
.topBanner h1{font-size:35px;line-height:42px;}
.infoPanel h2{font-size:35px;}
.recentList .owl-carousel .owl-nav .owl-next{background:url(../images/arrow-right-sm.png) center center no-repeat;position:static;margin:10px;width:32px;height:45px;}
.recentList .owl-carousel .owl-nav .owl-prev{background:url(../images/arrow-left-sm.png) center center no-repeat;position:static;margin:10px;width:32px;height:45px;}
.infoPanel .owl-carousel .owl-nav .owl-next{right:0;background:url(../images/arrow-right-sm.png) center center no-repeat;position:static;}
.infoPanel .owl-carousel .owl-nav .owl-prev{left:0;background:url(../images/arrow-left-sm.png) center center no-repeat;position:static;}
.headerTwo{display:none;}
}
@media only screen and (max-width :991px) {
.siteMenus li + li{margin-left:5px;}
.siteMenus li a,.siteMenus ul ul li a{font-size:15px;}
a.signUp{padding:20px 10px;}
.topBanner h1{font-size:35px;line-height:40px;}
.topBanner h1{font-size:30px;}
.infoPanel h2{font-size:26px;}

}
@media all and (max-width:767px){
.headerMain{padding:20px 0;}
.logoSite{text-align:center;}
.logoSite img{display:inline-block;margin-bottom:30px;}
.topBanner .my-auto{display:none;}
.infoPanel p{margin-bottom:20px;}
.howItWorks li{width:100%;padding:0 !important;margin:10px 0 0;}
.howItWorks .link2{float:left;}
.recentList .item span{font-size:14px;}
.recentList .item span + span::before{padding:0 5px;}
.postCards .col-md-4:nth-child(n+3) .item {margin-top: 40px;}
}
@media all and (max-width:575px){
.siteMenus li a, .siteMenus ul ul li a{color:#fff;padding:5px 15px;}
.siteMenus li + li{margin-left:0;}
.textBlock{padding:10px 25px;}
.logoSite img {float: left;width: 150px;}
.siteMenus.mobile{top:-78px;}
a.signUp{width:50%;}
.topBanner h1{font-size:25px;}
.howItWorks h2,.recentList h2{font-size:32px;}
.recentList{padding:25px 0;}
footer li{font-size:14px;}
footer li + li::before{padding:0 10px;}
.siteMenus.mobile.right > ul{padding-top:50px;}
.siteMenus.mobile ul li a:hover{color:#d3e3ff;}
.postCards .col-md-4:nth-child(n+2) .item {margin-top: 40px;}
.recentList h2{font-size:18px;}
}
@media all and (max-width:413px){
.topBanner a{padding:10px;}
}


